.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 10px 0;
    margin: 0 auto;
}

.window{
    background: #e2e2e2;
}

.menu{
    display: flex;
}

.menu .btn:nth-child(1){
    margin-right: 40px;
}

.btn, .btn-l{
    text-decoration: none;
}

.header p{
    color: #000;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
}


